nav {
  display: flex;
  justify-content: space-between;
  /* height: 10vh; */
  padding: 1%;
  background: #000;
  color: aliceblue;
}

.header__left {
  display: flex;
}

.header__logo {
  margin-right: 10%;
  color: yellowgreen;
}

.header__left a {
  padding: 2%;
}
